* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    color: white;
    font-family: sans-serif;
    overflow-x: hidden;
}

.header {
    padding-top: 1.6rem;
    background-color: #1D232F
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0px 1.6rem;
    margin: 0px auto;
}

.header__logo {
    height: 3.2rem;
}

.header__menu ul {
    display: flex;
    gap: 1.8rem;
    list-style: none;
}

.header__menu ul a {
    font-size: 1.6rem;
    color: #ced4da;
    text-decoration: none;
}
.header__mobile-button{
    display: none;
    cursor: pointer;
}
.header__mobile-button svg{
    width: 3.2rem;
    height: 3.2rem;
}

.hero__section {
    padding: 4.8rem 0px 8rem 0px;
    background: url(/images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #1D232F;
}

.hero__container,
.features__container,
.feature-row__container,
.testimonials__container,
.cta__container {
    max-width: 1200px;
    margin: 0px auto;
}

.hero__container {
    padding: 0px 1.6rem;
    text-align: center;
}

.hero__content,
.features__content {
    max-width: 700px;
    margin: 0px auto;
}

.hero__illustration {
    width: 70%;
    margin-bottom: 4.8rem;
}

.hero__title {
    font-size: 3.2rem;
    line-height: 1;
    margin-bottom: 2.4rem;

}

.hero__description,
.features__description,
.feature-row__description,
.testimonial__quote,
.cta__description {
    line-height: 1.6;
    color: #ced4da;
}

.hero__description {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}

.hero__cta,
.cta__link {
    display: inline-block;
    padding: 1.2rem 4.8rem;
    border-radius: 200px;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, #56C6D5, #0fa1ce);
}

.features__section,
.feature-row__section,
.testimonials__section,
.cta__section {
    position: relative;
    padding: 8rem 0px;
    background-color: #181F2B;
}

/* .features__curvy{
    pointer-events: none;
    position: absolute;
    top: -40%;
    left: -20%;
    z-index: 1;
} */

.features__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8rem;
    padding: 0px 1.6rem;

}

.features__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc(50% - 4.8rem);
    text-align: center;
}

.fixer-height {
    height: 80px;
    margin-bottom: 2.4rem;
}

.features__image {
    width: 6.2rem;
}

.features__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.features__description {
    font-size: 1.6rem;
}

.feature-row__container {
    display: flex;
    column-gap: 6.2rem;
    padding: 0px 1.6rem;
}

.image-container,
.feature-row__content {
    flex-basis: 50%;
}

.feature-row__image {
    width: 100%;
}

.feature-row__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature-row__title {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
}

.feature-row__description {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
}

.feature-row__link {
    color: #62E0D9;
    font-size: 1.6rem;
    align-self: flex-start;
    flex-basis: 20px;
}

.testimonials__container {
    display: flex;
    column-gap: 2.4rem;
    padding: 0px 1.6rem;
}

.testimonials__section {
    padding-bottom: 0px;
}

.testimonial {
    position: relative;
    padding: 2.4rem;
    border-radius: 0.4rem;
    background-color: #21293C;
}

.testimonial--1::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -20px;
    width: 60px;
    height: 45px;
    background-image: url(/images/bg-quotes.png);
    background-repeat: no-repeat;
}

.testimonial__quote {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

.testimonial__profile {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.testimonial__icon {
    width: 3.2rem;
    border-radius: 50%;
}

.testimonial__name {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}

.testimonial__job {
    font-size: 1.2rem;
    color: #adb5bd;
}

.cta__section {
    padding: 0px;
}

.cta__container {}

.cta__content {
    transform: translateY(50%);
    padding: 3.2rem;
    background-color: #1C2230;
    max-width: 700px;
    margin: 0px auto;
    border-radius: 0.4rem;
    box-shadow: 6px 12px 24px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cta__title {
    font-size: 3rem;
    margin-bottom: 2.4rem;
}

.cta__description {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
}

.cta__description+div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.cta__link {
    font-size: 1.4rem;
    padding: 1.2rem 1.2rem;
    flex-grow: 1;
}

.cta__section input[type="email"] {
    display: inline-block;
    flex-grow: 10;
    color: #495057;
    padding: 1.2rem 2.4rem;
    border-radius: 100px;
    outline: none;
    border: none;
}

.cta__section input[type="email"]::placeholder {
    color: #adb5bd;
    font-size: 1.4rem;

}

.footer {
    color: #adb5bd;
    font-size: 1.6rem;
    background-color: #0C1524;
    padding-top: 16.4rem;
    padding-bottom: 8rem;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    list-style: none;
}

.footer a {
    color: #adb5bd;
    text-decoration: none;
}

.footer__container {
    justify-content: space-between;
    max-width: 1200px;
    padding: 0px 1.6rem;
    margin: 0px auto;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__presentation {
    width: 30%;
}
.footer__presentation p {
    line-height: 1.6;
}

.footer__logo {
    margin-bottom: 2.4rem;
    width: 13.8rem;
    height: auto;
}

.footer__svg {
    width: 1.6rem;
    height: 1.6rem;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer__contact div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.footer__socials {
    display: flex;
    gap: 1.6rem;
}

.footer__socials svg {
    width: 3.2rem;
    height: 3.2rem;
}

.attribution {
    color: #adb5bd;
    background-color: #0C1524;
    padding-bottom: 1.6rem;
}
.attribution a{
    color: inherit;
}
@media (max-width:50em){
    html{
        font-size: 56.25%;
    }
    .features__content{
        justify-content: space-between;
        
    }
    .features__content > div{
        flex-grow: 1;
        padding: 0px 0.8rem;
    }
    .feature-row__container{
        column-gap: 1.6rem
    }
    .testimonials__container{
        column-gap: 0.4rem;
    }
    .footer__content > div{
        flex-grow: 1;
        padding: 0px 0.4rem;
    }
    
}
@media (max-width:43.75em){
    html{
        font-size: 62.50%;
    }
    .features__content{
        flex-direction: column;
        row-gap: 6.2rem;
    }
    .feature-row__container{
        flex-direction: column;
        row-gap: 4.8rem;
    }
    .features__content > div {
        padding: 0px 2.4rem;
    }
    .image-container{
        display: flex;
        justify-content: center;
    }
    .feature-row__image{
       width: 60%;
    }
    .testimonials__container{
        flex-direction: column;
        row-gap: 2.4rem;
    }
    .footer__content{
        flex-wrap: wrap;
        gap: 2.4rem;
    }
    .footer__content > div {
        flex-grow: 0;
        flex-basis: calc(50% - 1.6rem);
    }
    .footer__content:nth-child(3){
        font-size: 30px;
    }
    .footer__about-us li{
        margin-left: calc(16px + 1.6rem);
    }
    .footer__socials a:first-child{
       padding-left: calc(16px + 1.6rem);

    }
}
@media (max-width:31.25em){
    .footer__presentation{
        width: 100%;
    }
    .footer__content{
        flex-direction: column;
        gap: 3.2rem;
    }
    .footer__contact-us{
        margin-left: calc(16px + 1.6rem);
    }
}
@media (max-width:28.75em) {
    .header__mobile-button{
        display: inline-block;
    }
    .header__nav{
        display: none;
    }
    .hero__section{
        padding-bottom: 6.4rem;
    }
    .features__section,
    .feature-row__section,
    .testimonials__section{
        padding: 6.4rem 0px;
    }

    .cta__section{
        padding-top: 6.4rem;
    }
    .cta__content{
        padding: 1.6rem;
        transform: translateY(0%);
    }
    .footer{
        padding-top: 6.4rem;
    }
}